<h1>Welcome @ViewBag.name!</h1>

<p>
    <a asp-controller="Spa" asp-action="Index">Click here to fill out a quick survey.</a>
</p>
<hr />
<p>Email: @ViewBag.email</p>
<p>Date Created: @ViewBag.date</p>